<!DOCTYPE html>
<html>
<head>
    <title>Audio Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="converter-box">
    <h1>Audio Converter</h1>

    <form method="POST" action="/convert-audio" enctype="multipart/form-data">
        <input type="file" name="audio" required>

        <select name="format">
            <option value="mp3">MP3</option>
            <option value="wav">WAV</option>
            <option value="aac">AAC</option>
            <option value="ogg">OGG</option>
        </select>

        <button type="submit">Convert Audio</button>
    </form>
</div>

</body>
</html>